<div class="message_me">
  <div class="upper-message">
    <div class="message-user">
      <%= message.user.nickname %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= message.content %>
    </div>
    <div class='message-images'>
      <%= image_tag message.image, class: 'message-image' if message.image.attached? %>
    </div>
    <div class="message-date">
      <%= l message.created_at %>
    </div>
  </div>
</div>

