<div class="side-bar-header">
  <%= current_user.nickname %>
</div>

<div class="rooms">
  <div class="create-room">
    <%= link_to "チャットを作成する", new_room_path, class: 'btn' %>

  <% @rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.roomname, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
  </div>
</div>