.wrapper {
  display: flex;
}
.side-bar {
  background-color: #f5dc8b;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
}
.rooms {
  background-color: #caac94;
  height: calc(100vh - 100px);
}
.chat {
  background-color: #f3e3c0;
  width: calc(100vw - 300px);
}
.chat-header {
  height: 100px;
}

.messages {
  height: calc(100vh - 100px - 90px - 50px);
  background-color: #e0eaec;
  padding: 25px 40px 0;
  overflow: scroll;
}

.room-box {
  height: 50px;
  background-color: #8fcff5;
}
.messages-room {
  font-size: 25px;
  font-weight: bold;
  padding:10px 0 0 20px;
}

.message_me {
  width: 50%;
  margin: 15px 0;
  background-color: lightblue;
  float: left;
  clear: both;
  border-radius: 20px;
}

.message_other {
  width: 50%;
  margin: 15px 0;
  background-color: #ffffff;
  float: right;
  clear: both;
  border-radius: 20px;
}

.upper-message {
  background-color: #8fcff5;
  border-radius: 20px 20px 0 0;
}

.message-user {
  font-weight: 16px;
  color: #434a54;
  margin-left: 20px;
}
.message-user_other {
  font-weight: 16px;
  color: #434a54;
  text-align: right;
  margin-right: 20px;
}

.message-date {
  text-align: right;
  margin-right: 20px;
  font-weight: 12px;
  color: #999;
}
.lower-message {
  margin-top: 10px;
}
.message-content {
  font-weight: 17px;
  font-size: 20px;
  color: #434a54;
  margin: 10px 0 30px 10px;
}

.message-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message-image {
  margin-bottom: 10px;
  opacity: 85%;
}

.form {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}
.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}
.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}
.form-submit {
  height: 50px;
  background-color: #38aef0;
  border: none;
  color: white;
  font-size: 16px;
  margin-left: 15px;
  padding: 0 20px;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
  cursor: pointer;
}
.hidden {
  display: none;
}

.btn {
  height: 35px;
  margin-top: 50px;
  color: #000000;
  font-size: 25px;
  text-decoration: none;
}